@model FindAFixMVC.Models.DBContext.Proposal

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")



    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PriceEst, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PriceEst, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PriceEst, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AvailabilityDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AvailabilityDate, new { htmlAttributes = new { @class = "form-control", @Value = "2016-12-11" } })
                @Html.ValidationMessageFor(model => model.AvailabilityDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>@Html.HiddenFor(model => model.UserJob_Id)</div>
    </div>


<div>
    @Html.ActionLink("Back to List", "AvailableJobs")
</div>
